.small-navbar {
    position: absolute;
}
.browse-body{
    height: calc(100vh - 10vw);
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    margin: 0;
    text-align: center;
    position: absolute;
    top: 90%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.right-button{
    color:black !important;
    margin: 2vw !important;
}
.left-button{
    color:black !important;
    margin: 2vw !important;
}
