.about-image{
    display: block;
    max-width: 75%;
    margin: 5vw auto;
}
.about-image:hover{
    cursor: pointer;
}
.about-image-div{
    display: flex;
    height: 50vh;
}
.about-div{
    margin: 5vh;
}
.about-h2{
    margin-bottom: 5vh;
}
.about-h3{
    margin-bottom: 3vh;
}
footer{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    align-items: flex-end;
    margin: 0 5vh 5vh 0;
}
a{
    color: black;
}
@media screen and (min-width: 769px)  {
    .about-image{
        max-height: 50vh;
    } 
    .about-image-div{
        width: 50vw;
    }
    .about-text-div{
        width: 50vw;
    }
    .about-div{
        display: flex;
    }
}