* {
    margin: 0;
}
.transparent {
    background: none !important;
}
.main-body{
    margin-top: -60px;
    animation: changeBg 60s infinite;
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}
.menu-button {
    color: black;
}
.animated-navlink-item,
.animated-menu-button {
    animation: changeColor 60s infinite;
}
.animated-logo{
    animation: changeLogo 60s infinite;
}
.signup-button {
    display: none !important;
}
@keyframes changeBg {
    0%, 5%  {background-image: url("https://res.cloudinary.com/dvru7nv6q/image/upload/v1658676256/T-Dogs/dogs%20:%20portrait/roberto-nickson--s5WfAx74fM-unsplash_lhi3pc.jpg"),  url("https://res.cloudinary.com/dvru7nv6q/image/upload/v1658676249/T-Dogs/dogs%20:%20portrait/jamie-street-DZ3ixpNPt7c-unsplash_yuqrrj.jpg");}
    20%, 30%  {background-image: url("https://res.cloudinary.com/dvru7nv6q/image/upload/v1658676249/T-Dogs/dogs%20:%20portrait/jamie-street-DZ3ixpNPt7c-unsplash_yuqrrj.jpg"), url("https://res.cloudinary.com/dvru7nv6q/image/upload/v1658676247/T-Dogs/dogs%20:%20portrait/ash-v0_MCllHY9M-unsplash_ytmckh.jpg");}
    45%, 55%  {background-image: url("https://res.cloudinary.com/dvru7nv6q/image/upload/v1658676247/T-Dogs/dogs%20:%20portrait/ash-v0_MCllHY9M-unsplash_ytmckh.jpg"), url("https://res.cloudinary.com/dvru7nv6q/image/upload/v1658676258/T-Dogs/dogs%20:%20portrait/ralu-gal-G8cB8hY3yvU-unsplash_q8gvs4.jpg");}
    70%, 80% {background-image: url("https://res.cloudinary.com/dvru7nv6q/image/upload/v1658676258/T-Dogs/dogs%20:%20portrait/ralu-gal-G8cB8hY3yvU-unsplash_q8gvs4.jpg"), url("https://res.cloudinary.com/dvru7nv6q/image/upload/v1658676256/T-Dogs/dogs%20:%20portrait/roberto-nickson--s5WfAx74fM-unsplash_lhi3pc.jpg");}
    95%, 100%  {background-image: url("https://res.cloudinary.com/dvru7nv6q/image/upload/v1658676256/T-Dogs/dogs%20:%20portrait/roberto-nickson--s5WfAx74fM-unsplash_lhi3pc.jpg");}
}
@keyframes changeColor {
    0%, 5%  {color:black}
    20%, 30%  {color:white}
    45%, 55%  {color:white}
    70%, 80% {color:white}
    95%, 100%  {color:black}
}
@keyframes changeLogo {
    0%, 5%  {content:url("https://res.cloudinary.com/dvru7nv6q/image/upload/v1657060337/T-Dogs/Logo_mgx5ax.png")}
    20%, 30%  {content:url("https://res.cloudinary.com/dvru7nv6q/image/upload/v1659531996/T-Dogs/Logo-white_buct9g.png")}
    45%, 55%  {content:url("https://res.cloudinary.com/dvru7nv6q/image/upload/v1659531996/T-Dogs/Logo-white_buct9g.png")}
    70%, 80% {content:url("https://res.cloudinary.com/dvru7nv6q/image/upload/v1659531996/T-Dogs/Logo-white_buct9g.png")}
    95%, 100%  {content:url("https://res.cloudinary.com/dvru7nv6q/image/upload/v1657060337/T-Dogs/Logo_mgx5ax.png")}
}
@media screen and (min-width: 481px) {
    
  }
  
  @media screen and (min-width: 769px) {
    .main-body{
        margin-top: -8vw;
    }
    @keyframes changeBg {
        0%, 5%  {background-image: url("https://res.cloudinary.com/dvru7nv6q/image/upload/v1658676230/T-Dogs/dogs%20:%20landscape/pauline-loroy-U3aF7hgUSrk-unsplash_f6bpht.jpg"),  url("https://res.cloudinary.com/dvru7nv6q/image/upload/v1658676217/T-Dogs/dogs%20:%20landscape/anna-dudkova-urs_y9NwFcc-unsplash_ttxqj6.jpg");}
        20%, 30%  {background-image: url("https://res.cloudinary.com/dvru7nv6q/image/upload/v1658676217/T-Dogs/dogs%20:%20landscape/anna-dudkova-urs_y9NwFcc-unsplash_ttxqj6.jpg"), url("https://res.cloudinary.com/dvru7nv6q/image/upload/v1658676235/T-Dogs/dogs%20:%20landscape/vincent-van-zalinge-v3k7Ub4lnGk-unsplash_fn87sl.jpg");}
        45%, 55%  {background-image: url("https://res.cloudinary.com/dvru7nv6q/image/upload/v1658676235/T-Dogs/dogs%20:%20landscape/vincent-van-zalinge-v3k7Ub4lnGk-unsplash_fn87sl.jpg"), url("https://res.cloudinary.com/dvru7nv6q/image/upload/v1658676220/T-Dogs/dogs%20:%20landscape/christopher-ayme-ocZ-_Y7-Ptg-unsplash_hrgczf.jpg");}
        70%, 80% {background-image: url("https://res.cloudinary.com/dvru7nv6q/image/upload/v1658676220/T-Dogs/dogs%20:%20landscape/christopher-ayme-ocZ-_Y7-Ptg-unsplash_hrgczf.jpg"), url("https://res.cloudinary.com/dvru7nv6q/image/upload/v1658676230/T-Dogs/dogs%20:%20landscape/pauline-loroy-U3aF7hgUSrk-unsplash_f6bpht.jpg");}
        95%, 100%  {background-image: url("https://res.cloudinary.com/dvru7nv6q/image/upload/v1658676230/T-Dogs/dogs%20:%20landscape/pauline-loroy-U3aF7hgUSrk-unsplash_f6bpht.jpg");}
    }
    .button{
        display: flex !important;
        align-items: center;
        background-image: linear-gradient(to right, #FD297B, #FF5864, #FF655B);
    }
    .button:hover{
        background-image: linear-gradient(to right, #f42b78, #f2535d, #f2655b)
    }
    .signup-button {
        margin-left: 15vw !important;
    }  
  }
  
  