* {
    margin: 0;
}
.main-body{
    animation: changeBg 60s infinite;
    width: 100vw;
    height: 92vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}
@keyframes changeBg
{
   0%, 15%  {background-image: url("https://res.cloudinary.com/dvru7nv6q/image/upload/v1658676230/T-Dogs/dogs%20:%20landscape/pauline-loroy-U3aF7hgUSrk-unsplash_f6bpht.jpg"),  url("https://res.cloudinary.com/dvru7nv6q/image/upload/v1658676235/T-Dogs/dogs%20:%20landscape/vincent-van-zalinge-v3k7Ub4lnGk-unsplash_fn87sl.jpg");}
   25%, 40%  {background-image: url("https://res.cloudinary.com/dvru7nv6q/image/upload/v1658676235/T-Dogs/dogs%20:%20landscape/vincent-van-zalinge-v3k7Ub4lnGk-unsplash_fn87sl.jpg"), url("https://res.cloudinary.com/dvru7nv6q/image/upload/v1658676228/T-Dogs/dogs%20:%20landscape/jamie-street-UtrE5DcgEyg-unsplash_pudtw5.jpg");}
   50%, 65%  {background-image: url("https://res.cloudinary.com/dvru7nv6q/image/upload/v1658676228/T-Dogs/dogs%20:%20landscape/jamie-street-UtrE5DcgEyg-unsplash_pudtw5.jpg"), url("https://res.cloudinary.com/dvru7nv6q/image/upload/v1658676217/T-Dogs/dogs%20:%20landscape/anna-dudkova-urs_y9NwFcc-unsplash_ttxqj6.jpg"), url("https://res.cloudinary.com/dvru7nv6q/image/upload/v1658676230/T-Dogs/dogs%20:%20landscape/pauline-loroy-U3aF7hgUSrk-unsplash_f6bpht.jpg");}
   80%, 100% {background-image: url("https://res.cloudinary.com/dvru7nv6q/image/upload/v1658676217/T-Dogs/dogs%20:%20landscape/anna-dudkova-urs_y9NwFcc-unsplash_ttxqj6.jpg");}
}
.button {
    display: none !important;
}
@media screen and (min-width: 481px) {
    .button{
        display: flex !important;
        align-items: center;
        max-width: 15vw;
        min-width: 100px !important;
        background-image: linear-gradient(to right, #FD297B, #FF5864, #FF655B);
    }
    .button:hover{
        background-image: linear-gradient(to right, #f42b78, #f2535d, #f2655b)
    }
    .signup-button {
        margin-left: 15vw !important;
    }
  }
  @media screen and (min-width: 769px) {

  }
  
  