* {
    margin: 0;
}
.main-container {
    margin-left: 2vw;
    margin-right: 2vw;
    display: flex;
    flex-direction: column;
}
.dog-image-small {
    width: 100vw;
}
.dog-image-large {
    display: none;
}
.basic-id-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10vw;
}
.dog-size-image {
    width: 40vw;
}
.short-description{
    text-align: center;
    margin: 5vw;
}
.grey{
    color: grey;
}
.color{
    color:#FD297B
}
.icons-row {
    display: flex;
    gap: 10vw;
    align-self: center;
    justify-content: center;
}
.break{
    margin-bottom: 5vw;
}
.description {
    display: flex;
    gap: 5vw;
    align-items: center;
    margin: 5vw;
}
.owner-details{
    gap: 3vw;
}
.id-item{
    display: flex;
    gap: 2vw;
    margin-bottom: 2vw;
}
@media screen and (min-width: 480px) {
    .dog-image-small {
        display: none;
    }
    .dog-image-large {
        display: block;
        width: 40vw;
    }
    .large-screen-container{
        display: flex;
        justify-content: space-around;
        margin-top: 5vw;
    }
    .basic-id-container{
        flex-direction: column;
        text-align: center;
    }
    .owner-details{
        flex-direction: row;
    }
}
@media screen and (min-width: 769px) {
    
}