.logo {
	width: 100px;
}
.large-navbar {
	display: none;
}
.small-navbar {
	position: fixed;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
}
.menu-items{
	display:flex;
}
.navlink-item {
	text-decoration: none;
	color: black;
	font-size: x-large;
	display: flex;
	align-items: center;
	gap: 1vw;
}
@media screen and (min-width: 769px) {
	.small-navbar {
		display: none;
	}
	.logo{
		width: 15vw;
	}
    .large-navbar {
		padding: 2vw 2vw 0vw 2vw;
		box-sizing: border-box;
    	position: fixed;
		height: 8vw;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
    }
	.selected {
		color:#FD297B;
		text-decoration: underline;
	}  
	.navlinks {
	display: flex;
	gap: 4vw;
	align-items: center;
	justify-content: space-around;
	}
	.button {
		background-image: linear-gradient(to right, #FD297B, #FF5864, #FF655B);
		height: 50px;
		max-width: 15vw;
        min-width: 130px !important; 
	}
	.button:hover{
		background-image: linear-gradient(to right, #f42b78, #f2535d, #f2655b)
	}
  }
  