.lost-body{
        width: 100vw;
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("https://res.cloudinary.com/dvru7nv6q/image/upload/v1660294385/T-Dogs/michael-jin-kQQFDmqQ2qE-unsplash_ghbymo.jpg");
}
.lost-text {
    justify-content: center;
    gap: 2vw;
}
.safety-net{
    color: black !important;
}