.user-type-button {
  margin-bottom: 2vw;
  color: black !important;
  border: 1px solid #fd297b !important;
}
.clicked {
  color: white !important;
  background-image: linear-gradient(
    to right,
    #fd297b,
    #ff5864,
    #ff655b
  ) !important;
}
.description-button{
  margin-top: 2vw !important;
  margin-bottom: 2vw !important;
  color: black !important;
  border: 1px solid #fd297b !important;
  max-width: 300px;
}
.user-type-button-group {
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

.form-identifier {
  display: none;
}
.form-content {
  display: flex;
  flex-direction: column;
  margin-top: 2vw;
}
.form-container{
  display: flex;
  flex-direction: column;
  width: 80vw;
}
.input-container{
  display: flex;
  align-items: center;
}
.submit-button {
  display: flex;
  justify-content: center !important;
  margin-bottom: 2vw !important;
  align-items: center;
}
.question-text {
  margin-bottom: 5vw !important;
}
.grey {
  color: grey;
}
.avatar-container{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2vw;
  margin: 2vw;
  flex-direction: column;
}
.theme-break {
  height: 2px;
  background-image: linear-gradient(to right, #FD297B, #FF5864, #FF655B);
  border: 0;
  border-radius: 5px;
}
.end {
  margin: 2vw 0;
}
@media screen and (min-width: 900px) {
  .form-identifier {
    display: block;
  }
  .user-type-button-group {
    flex-direction: row;
  }
  .form-content {
    flex-direction: row;
  }
  .submit-button {
    justify-content: start;
    margin-top: 2vw;
  }
  .question-text {
    margin-bottom: 0vw !important;
  }
  .avatar-container{
    align-items: flex-start;
  }
  .half{
    width: 50vw;
  }
}