.dog-form {
  font-size: 1.5rem;
}

.dog-form label {
  margin-top: 0.5em;
}

.dog-form input {
  padding: 0.7em;
}

/* joao, used in sign in and sign up*/
.user-type-button {
  margin-bottom: 2em;
  color: black !important;
  border: 1px solid #fd297b !important;
}
.clicked {
  color: white !important;
  background-image: linear-gradient(
    to right,
    #fd297b,
    #ff5864,
    #ff655b
  ) !important;
}
.user-type-button-group {
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

/* .dogEditRight {
  display: flex;
  flex-direction: column;
} */
.form-identifier {
  display: none;
}
.form-content {
  display: flex;
  flex-direction: column;
  margin-top: 2vw;
  gap: 5vw;
}
.submit-button {
  display: flex;
  justify-content: center;
  margin-bottom: 5vw;
}
.question-text {
  margin-bottom: 5vw !important;
}
@media screen and (min-width: 769px) {
  .form-identifier {
    display: block;
  }
  .user-type-button-group {
    flex-direction: row;
  }
  .form-content {
    flex-direction: row;
  }
  .submit-button {
    justify-content: start;
    margin-top: 2vw;
  }
  .question-text {
    margin-bottom: 0vw !important;
  }
}

/* DOG EDIT AND PROFILE*/

.EditContainer {
  display: flex;
  justify-content: center;
}

.EditTop {
  margin-top: 1.5em;
}

.EditInfo {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
}

.EditLeft {
  width: 600px;
}

.EditRight {
  display: flex;
  flex-direction: column;
}

.InfoRadio {
  display: flex;
  flex-direction: column;
}

.iconsAndInfo {
  display: flex;
  align-items: center;
}

.icon {
  color: grey;
}

/* DOG-LIST */
.navLink-align {
  list-style: none;
  text-decoration: none;
  color: black;
}

.page-body {
  margin: 3em 2em;
}
